/* layouts의 Sidebar.css에서 선언한 변수를 활용하고 있음 */
.content {
  margin-left: var(--sidebar-width);
  padding: 20px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding-top: var(--sidebar-height);
  }
}
